.country-del{
    position: relative !important;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.back_home{
position: absolute !important;
left: 0;
top: 0;
}